
<div class="container ">
    <div class="row mt-4 mb-4">
      <div class="col">
        <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/user','nuevo']"> Add User</button>
      </div>
    </div>
      
    <div class="row mt-4">
        <div class="col col-md-12">
            <table class="table" >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tools</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                      <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/user', user.id]"  >Edit</button>
                      <button type="button" class="btn btn-secondary btn-lg" (click)=deleteUser(user,i) >Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="loading"
                class="alert alert-info text-center  mt-3">
                <h4 class="alert-heading">Cargando</h4>
                <p>
                  <i class="fa fa-sync-alt fa-spin fa-2x"  ></i>
                </p>
              </div>
              
              <div *ngIf="emptyUsers()"
              class="alert alert-info text-center  mt-3">
              <h4 class="alert-heading">sin registros en base</h4>
              <p>
                <i class="fa fa-sync-alt fa-spin fa-2x"  ></i>
              </p>
            </div>
        </div>
      </div>
    </div>